<div class="modal-header">
    <div class="w-100 text-center">
        <h4 class="modal-title">{{ 'label.confirm' | translate }}</h4>
    </div>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="onClose()"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-12">
            <h5 class="mb-0">{{ message }}</h5>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-primary"
        (click)="onConfirm()">
        {{ 'label.submit' | translate }}
    </button>
    <button
        type="button"
        class="btn btn-danger"
        (click)="onClose()">
        {{ 'label.close' | translate }}
    </button>
</div>
