{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 200,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "semi": true
}
