<div class="vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-4"></div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card login__form">
                    <div class="card-header login__header">
                        <h3 class="login__title">{{ 'app_name' | translate }}</h3>
                    </div>
                    <div class="card-body">
                        <form
                            id="loginForm"
                            [formGroup]="form"
                            (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-12">
                                    <app-form-input-wrapper
                                        [for]="'username'"
                                        [label]="'label.username' | translate"
                                        [errorMessage]="form.controlErrorMessages.username">
                                        <input
                                            id="username"
                                            formControlName="username"
                                            type="text"
                                            class="form-control"
                                            placeholder="{{ 'label.username' | translate }}" />
                                    </app-form-input-wrapper>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <app-form-input-wrapper
                                        [for]="'password'"
                                        [label]="'label.password' | translate"
                                        [errorMessage]="form.controlErrorMessages.password">
                                        <input
                                            id="password"
                                            formControlName="password"
                                            type="password"
                                            class="form-control"
                                            placeholder="{{ 'label.password' | translate }}" />
                                    </app-form-input-wrapper>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        {{ 'label.submit' | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-4"></div>
        </div>
    </div>
</div>
