@import 'custom.scss';

.login__form {
    .login__header {
        background-color: $primary;

        .login__title {
            color: white;
            // text-transform: uppercase;
            text-align: center;
            margin-bottom: 0;
        }
    }
}
