{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 150,
    "trailingComma": "none",
    "singleAttributePerLine": true,
    "bracketSameLine": true,
    "semi": true
}
