.main-layout__wrapper {
    background-color: #f8f9fc;
    width: 100%;
    position: relative;

    .main-layout {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
